<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Movie Ticket-movie ticket booking</title>
<th:block th:insert="~{fragments/header.html}"></th:block>
<link rel="stylesheet" href="/css/home.css">
</head>
<body>

	<th:block th:insert="~{fragments/navbar.html}"></th:block>
	<th:block th:insert="~{fragments/message.html}"></th:block>
<div>
    <header class="hero-section">
        <div class="container">
            <h1 class="hero-title">Welcome to MovieTicket site</h1>
            <p class="hero-subtitle">Book your movie tickets with ease</p>
            <a href="#" class="btn btn-primary btn-lg">Book Now</a>
        </div>
    </header>
    
    
    <div class="container mt-5">
        <h2 class="text-center mb-4">Featured Movies</h2>
        
        
 <div id="movieCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/movie_image1.jpg" class="d-block w-100" alt="Movie 1">
                   <!--  <div class="carousel-caption d-none d-md-block">
                        <h5 class="movie-title">Joker</h5>
						<p>Arthur Fleck, a party clown and a failed stand-up comedian, leads an impoverished life with his ailing mother</p>
                    </div> -->
                </div>
                <div class="carousel-item">
                    <img src="images/movie_image2.jpg" class="d-block w-100" alt="Movie 2">
                   <!--  <div class="carousel-caption d-none d-md-block">
                        <h5 class="movie-title">Movie Title 2</h5>
                        <p>Brief description of the movie goes here.</p>
                    </div> -->
                </div>
                <div class="carousel-item">
                    <img src="https://www.axn-asia.com/sites/axn-asia.com/files/ct_series_f_primary_image/spiderman_homecoming_-_keyart.jpg" class="d-block w-100" alt="Movie 3">
                   <!--  <div class="carousel-caption d-none d-md-block">
                        <h5 class="movie-title">Movie Title 3</h5>
                        <p>Brief description of the movie goes here.</p>
                    </div> -->
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>		
		<th:block th:insert="~{fragments/footer.html}"></th:block>

</body>
</html>